*{
 box-sizing: border-box;
 padding: 0px;
 margin: 0px;
}
body{
 background: rgba(2, 25, 49, 1);
}
.hero-section{
 padding-left: 120px;
 padding-right: 121px;
}
header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 23px;
 /* border: 2px solid red; */
}
nav ul{
 display: flex;
 gap: 16px;
}
li{
 list-style-type: none;
 gap: 16px;
}
nav a{
 text-decoration: none;
 color:rgba(165, 165, 166, 1);
 
}
nav a:hover{
 text-decoration: underline;
}
.search{
 width: 355px;
 height: 54px;
 border-radius: 15px;
 display: flex;
 /* border: 1px solid black; */
 /* align-content: center; */
 align-items: center;
 background-color: #02223F;
 gap: 7px;
}
input[type="search"]{
 color: rgba(77, 80, 87, 1);
 font-size: 16px;
 background-color: transparent;
 border: none;
 width: 345px;
 height: 35px;
 outline: none;
padding-left: 25px;
}
.search-svg{
 padding-left: 15px;
}
.btn{
 background-color: transparent;
 border: 1px;
 color: rgba(165, 165, 166, 1);
 border-radius: 15px;
 width: 142px;
 height: 54px;
 border: 1px solid #02223F;
}
.btn:hover{
 background-color: antiquewhite;
}
.sub-hero-section{
 display: flex;
}
.sub-hero-section1{
 width: 413px;
 height: 388px;
 margin-top: 167px;
}
.first{
 font-size: 18px;
 color:  #2DA5BE;
}

.sub-hero-section1 h2{
 font-size: 64px;
 color: #FFFFFF;
 font-weight: 700px;
}
.jake{
 font-weight: 400px;
 font-size: 16px;
 color:rgba(165, 165, 166, 1);
 line-height: 24px;
}

.flip{
 display: flex;
 gap: 20px;
 color: rgba(165, 165, 166, 1);
 margin-top: 32px;
}
.flip p{
 font-weight: 500px;
 font-size: 18px;
}
.flip1{
 display: flex;
 align-items: center;
 gap: 5px;
}
.flip2{
 display: flex;
 align-items: center;
 gap: 5px;
}
.flip3{
 display: flex;
 align-items: center;
 gap: 5px;
}
.btn-see{
 display: flex;
 margin-top: 36px;
 align-items: center;
 gap: 62px;
}
.btnn{
 background: linear-gradient(115.23deg, #2EA5BE 53.76%, #0C64B3 120.17%);
 border-radius: 5px;
 height: 54px;
 width: 160px;
 border: none;
 font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
color: rgba(255, 255, 255, 1);
}
.btn-see a{
 text-decoration: none;
 color: rgba(46, 165, 190, 1);
 font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
}
.btn-see a:hover{
 text-decoration: underline;
}
.hero-section-image{
 padding-left: 85px;
}
.img1{
 margin-top: 152px;
}
.img2{
 position: absolute;
 left: 1015px;
 margin-top: 76px;
}
.hero-slide{
 display: flex;
 margin-top: 79px;
 justify-content: space-between;

}
.hero-slide-svg{
 display: flex;
 gap: 8px;
}
.n0102{
 display: flex;
 gap: 16px;
}
.numbers{
color: rgba(255, 255, 255, 1);
border-bottom: 3px solid #2EA5BE;
width: 180px;
font-size: 18px;
font-weight: 700;
line-height: 27px;
text-align: left;

}
.movies{
color: rgba(46, 165, 190, 1);
margin-top: 7px;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
}
.section-1{
 padding-left: 120px;
 padding-right: 120px;
}
table{
 padding-top: 17px;
 padding-left: 21px;
 width: 1200px;
 height: 80px;
 background-color: #112840;
 border-radius: 20px;
margin-top: 117px;
 margin-left: auto;
 margin-right: auto;
}
th{
 color: rgba(255, 255, 255, 1);
 font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: center
}
td{
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: rgba(165, 165, 166, 1);
}
.now{
 display:flex;
 align-items: center;
 gap: 22px;
 margin-top: 64px;
}
.now p{
 font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
hr{
 width: 957px;
}
.section-2{
 padding-left: 120px;
 padding-right: 120px;
 margin-top: 48px;
}
.sub-section-21{
 display: flex;
 gap: 24.5px;
}
.moviess{
 width: 283px;
 height: 774px;
 /* border: 2px solid green; */
}

.bio{
 color: rgba(45, 165, 190, 1);
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 15px;
}
.title{
 color: #FFFFFF;
 font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 36px;
}
.time{
 display: flex;
 gap: 8px;
 margin-top: 8px;
}
.time2{
 display: flex;
 gap: 8px;
 margin-top:44px;
}
.time-diff{
 width: 115px;
 height: 54px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgba(165, 165, 166, 1);
border: 1px solid #2DA5BE;
background-color: #021931;
border-radius: 10px;
}
.time-diff p{
 padding: 15px 20px;
}
.sub-section-22{
 display: flex;
 margin-top: 64px;
 gap: 24.5px;
}
.sub-section-22 .time2{
 margin-top: 45px;
}
.sub-section-22 .time{
 margin-top: 8px;
}
.section-3{
 margin-top: 64.06px;
 padding-left: 120px;
 padding-right: 120px;
}
.sub-section-31{
 display: flex;
 align-items: center;
 gap: 9.42px;
}
.sub-section-31 p{
 color: #FFFFFF;
font-size: 32px;
font-weight: 700;
line-height: 48px;
}
.sub-section-31 .second-hr{
 width: 796px;
 height: 2px;
 color: rgba(45, 165, 190, 1);
}
.sub-section-32{
 display: flex;
}
.section3-image{
 width: 736px;
 height: 472px;
}
.section3-image2{
 margin-top: 76px;
}
.section3-image1{
 position: absolute;
 left: 250px;
 margin-top: 154px;
}
.section-3-content{
margin-left: 50px;
margin-top: 189px;
}
.bio3{
font-size: 18px;
font-weight: 500;
line-height: 27px;
color: #2DA5BE;
}
.section-3-content h1{
 color: #FFFFFF;
font-size: 54px;
font-weight: 700;
line-height: 81px;
/* border: 2px solid gold; */
margin-top: 19.06px;
}
.when-content{
 width: 405px;
 color: rgba(165, 165, 166, 1);
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.section-3-content-div{
 display: flex;
 margin-top: 31.4px;
 gap: 31px;
 color: rgba(165, 165, 166, 1);
 align-items: center;
 font-size: 18px;
font-weight: 500;
line-height: 27px;
}
.section-3-content-div-date{
 display: flex;
 gap: 12px;
}
.section-3-content-div-user{
display: flex;
gap: 12px;
}
.section-3-content-div-time{
 display: flex;
 gap: 12px;
 }
 .section-4{
  margin-top: 64px;
  padding-left: 120px;
  padding-right: 120px;
 }
 .sub-section-31 .sec4{
  width: 1019px;
  /* color: rgba(45, 165, 190, 1); */
 }
 .sub-section-4{
  display: flex;
  gap: 24px;
 }
 .s-s-4{
  width: 282px;
  height: 621.06px;
  /* border: 2px solid gold; */
 }
 .pre-date{
  color: rgba(165, 165, 166, 1);
font-size: 16px;
font-weight: 600;
line-height: 24px;
 }
 .btn-arrow{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #021931;
  border: 1px solid #2EA5B6;
border-radius: 5px;
margin-top: 44px;
color: #FFFFFF;
width: 188px;
height: 54px;
font-size: 18px;
font-weight: 400px;
align-items: center;
padding-top: 12px;
padding-left: 35px;
gap: 8px;
 }
 .section-5{
  margin-top: 64px;
  padding-left: 120px;
  padding-right: 120px;
 }
 .sub-section-5{
  display: flex;
 }
 .sub-section-5-content{
  margin-top: 87px;
  width: 464px;
  height: 302.94px;
  border: 2px solid green;
 }
 .sub-section-5-content p{
font-size: 18px;
font-weight: 400;
line-height: 27px;
color: #2DA5BE;
 }
 .sub-section-5-content h3{
  font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 48px;
color: #FFFFFF;
 }
 .sub-section-5-content a{
font-size: 18px;
font-weight: 400;
color: #FFFFFF;
text-decoration: none;
 }
 .sub-section-5-content a:hover{
  text-decoration: underline;
 }
 .givo{
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
 }
 .sub-section-5-images{
  display: flex;
  margin-left: 20px;
 }

 .aqua{
  
  margin-top: 115px;
 }
 .aqua2{
  position: absolute;
  right: 200px;
  margin-top: 70px;
 }
 .section-6{
  margin-top: 57.06px;
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
 }
 .thru{
  width: 284px;
  height:427.94px;
  border: 2px solid gold;

 }